* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
}

#topContainer {
  background-repeat: no-repeat;
  width: 100%;
  text-align: center;
  background-image: url("/AddOns/background.jpg");
  height: 200px;
  display: flex;
  flex-direction: column;
  color: white;
}
#topTextContainer * {
  margin-block: 15px 10px;
}
#boxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box {
  width: 200px;
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  padding-inline: 12px;
  color: black;
  font-size: small;
  height: 30px;
}
.box * {
  margin: 0;
}
